*.class

### IntelliJ IDEA ###
.idea/

out/
!week6/main/**/out/
!week6/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!week6/main/**/bin/
!week6/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### iml ###
JobHacker-System.iml